################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp3/.vs/ProjectEvaluation
/ConsoleApp3/.vs/ConsoleApp3/FileContentIndex
